*{
    font-family: 'Hanken Grotesk',sans-serif;
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    font-size: 18px;
}
main{
    background-color:  hsl(221, 100%, 96%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.inner{
    width: 600px;
    height: auto;
    border-radius: 1.5rem;
    display: flex;
    background-color: hsl(0, 0%, 100%);

}
.boxleft,
.boxright {
  width: 50%;
  height: auto;
  min-width: 0;
}

.boxleft {
  padding: 2rem;
  border-radius: 1.5rem;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
.result{
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;

}
.scoreresult{
    margin: 0 auto;
    width: 10rem ;
    padding: 2rem;
    border-radius: 50%;
    background: linear-gradient(
  to bottom,
  hsla(256, 72%, 46%, 1),
  hsla(241, 72%, 46%, 0)
);

}
.number{
    font-size: 3rem;
    color:hsl(0, 0%, 100%);
    font-weight: 800;
}
.outof{
    color: hsl(241, 100%, 89%);
}

.feedback{
    color:hsl(0, 0%, 100%);
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.detail{
    color: hsl(241, 43%, 79%);
}

.boxright{
  padding: 2rem;
  background-color: hsl(0, 0%, 100%); 
  font-size: 18px;
  border-radius :1.5rem;
}

.summary{
    font-weight: 700;
    font-size: 1.4rem;
    color: hsl(224, 30%, 27%);
    margin-bottom: 1.5rem;
    text-align: start;
}

.topic1{
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: hsla(0, 100%, 67%,0.1);
  color:hsl(0, 100%, 67%);
}
.topic2{
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: hsla(39, 100%, 56%,0.1);
   color:hsl(39, 100%, 56%);
}
.topic3{
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: hsla(166, 100%, 37%,0.1);
  color: hsl(166, 100%, 37%);
}
.topic4{
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: hsla(234, 85%, 45%,0.1);
  color: hsl(234, 85%, 45%);

}
button{
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  background-color: hsl(224, 30%, 27%);
  border-radius: 2.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

.point{
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.grade{
  color: hsla(224, 30%, 27%,0.5);
  font-weight: 700;
}
.topic{
  display: flex;
  justify-content: space-between;
}

@media(max-width: 400px){
  main{
    align-items: flex-start;
    height: auto;
  }
  .inner{
    width: 100%;
    flex-direction: column;
  }
  .boxleft,
.boxright {
  width: 100%;
  height: auto;
  }
  .boxleft{
     border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media((min-width: 400px) and (max-width:750px) ){
  
  main{
    align-items: flex-start;
    height: auto;
  }
  .inner{
    width: 350px;
    flex-direction: column;
  }
  .boxleft,
.boxright {
  width: 100%;
  height: auto;
  }
    .boxleft{
     border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}